<!--<nav class="top-nav">-->
<!--  <a-->
<!--    routerLink="/"-->
<!--    routerLinkActive="active"-->
<!--    [routerLinkActiveOptions]="{ exact: true }"-->
<!--    class="nav-link"-->
<!--    >all recipes</a-->
<!--  >-->
<!--  <a href="#" class="nav-link">breakfast</a>-->
<!--  <a href="#" class="nav-link">salad</a>-->
<!--  <a href="#" class="nav-link">soup</a>-->
<!--  <a href="#" class="nav-link">bakery</a>-->

<!--  <a routerLink="/admin" routerLinkActive="active" class="nav-link move-right">admin</a>-->
<!--</nav>-->

<router-outlet></router-outlet>
