<mat-drawer-container class="wrapper">
  <mat-drawer mode="side" opened class="side-nav" #drawer>
    <nav>
      <a
        routerLink="/admin/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <a routerLink="/admin/recipes" routerLinkActive="active">Recipes</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <mat-card class="top-panel">
        <button mat-raised-button mat-mini-fab (click)="drawer.toggle()">
          <mat-icon>{{ drawer.opened ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
        <a mat-raised-button routerLink="/admin/recipes/create">
          <mat-icon>add</mat-icon> Add Recipe
        </a>
        <a mat-raised-button routerLink="/">
          <mat-icon>launch</mat-icon>
        </a>
        <button mat-raised-button (click)="openDialog()">
          <mat-icon>remove_circle_outline</mat-icon> drop table
        </button>
        <button mat-raised-button (click)="create()">
          <mat-icon>add_circle_outline</mat-icon> create table
        </button>
      </mat-card>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
