.wrapper {
  height: 100vh;
}

.wrapper {
  .side-nav {
    width: 200px;
    background: var(--base-black);
  }
}

.wrapper nav {
  display: flex;
  flex-direction: column;
}

.wrapper nav a {
  font-size: 1.3em;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: var(--light-grey);
}

.wrapper nav a.active {
  background: #3f5573;
}

.wrapper main {
  padding: 15px;
}

.top-panel {
  margin-bottom: 15px;
}

.top-panel *[mat-raised-button] {
  margin-right: 10px;
}
