.card {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
}

.recipe-img-container {
  flex-grow: 1;
  max-height: 250px;
}

.recipe-img-container .recipe-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-name {
  font-size: 1.5em;
  color: var(--base-black);
  text-decoration: none;
  padding: 15px;
}

.recipe-description {
  font-size: 1em;
  color: var(--base-black);
  text-decoration: none;
}

.recipe-name:hover,
.recipe-description:hover {
  text-decoration: underline;
}
